<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Multi tier search</title>
</head>
<body>
    <style>
        #results {
            max-height: 80vh;
            overflow-y: auto;
        }
    </style>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card-deck">
                    <div class="card">
                        <div class="card-body">
                            <h3>Results:</h3>
                            <div>
                                <ul  id="results" class="list-group">

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card" style='width:400px;margin:2rem auto;'>
                        <div class="card-body">
                            <h3>Search <button class="btn btn-primary" onclick="clearFields()">CLEAR</button></h3>
                            <p>Department:</p>
                            <input type="number" name="" class='form-control' id="department" oninput='filterQuery()'>
                            <p>Product Type:</p>
                            <input type="text" list="types" class='form-control' id="product-type" oninput='filterQuery()'>
                            <datalist id="types">
                                {% for opt in types %}
                                <option value="{{opt}}">
                                {% endfor %}
                            </datalist>
                            <p>Query 1:</p>
                            <div>
                                <ul id='q-1-options'></ul>
                                <input class='form-control' oninput='filterQuery()' type="text" id='q-1'>
                            </div>
                            <p>Query 2:</p>
                            <div>
                                <ul id='q-2-options'></ul>
                                <input class='form-control' oninput='filterQuery()' type="text" id='q-2'>
                            </div>
                            <p>Query 3:</p>
                            <div>
                                <ul id='q-3-options'></ul>
                                <input class='form-control' oninput='filterQuery()' type="text" id='q-3'>
                            </div>
                            <p>Query 4:</p>
                            <div>
                                <ul id='q-4-options'></ul>
                                <input class='form-control' oninput='filterQuery()' type="text" id='q-4'>
                            </div>
                            <p>Query 5:</p>
                            <div>
                                <ul id='q-5-options'></ul>
                                <input class='form-control' oninput='filterQuery()' type="text" id='q-5'>
                            </div>
                            <p>Query 6:</p>
                            <div>
                                <ul id='q-6-options'></ul>
                                <input class='form-control' oninput='filterQuery()' type="text" id='q-6'>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function clearFields(){
            $('#department').val('')
            $('#product-type').val('')
            $('#q-1').val('')
            $('#q-2').val('')
            $('#q-3').val('')
            $('#q-4').val('')
            $('#q-5').val('')
            $('#q-6').val('')
            $('#q-1-options').empty()
            $('#q-2-options').empty()
            $('#q-3-options').empty()
            $('#q-4-options').empty()
            $('#q-5-options').empty()
            $('#q-6-options').empty()
            
        }
        function filterQuery(){
            console.log('called')
            $.ajax({
                method: 'GET',
                url: '/q-filter',
                data: {
                    department: $('#department').val(),
                    product_type: $('#product-type').val(),
                    q1: $('#q-1').val(),
                    q2: $('#q-2').val(),
                    q3: $('#q-3').val(),
                    q4: $('#q-4').val(),
                    q5: $('#q-5').val(),
                    q6: $('#q-6').val()
                },
                success: function(resp){
                    console.log(resp)
                    $('#results').empty()
                    resp.items.forEach(function(item){
                        $("#results").append("<li class='list-group-item'>" + item + "</li>")
                    })
                    if(resp.q0_rules){
                        $('#q-1-options').empty()
                        resp.q0_rules.forEach(function(rule){
                            $('#q-1-options').append("<li>" + rule + "</li>")
                        })
                    }
                    if(resp.q1_rules){
                        $('#q-2-options').empty()
                        resp.q1_rules.forEach(function(rule){
                            $('#q-2-options').append("<li>" + rule + "</li>")
                        })
                    }
                    if(resp.q2_rules){
                        $('#q-3-options').empty()
                        resp.q2_rules.forEach(function(rule){
                            $('#q-3-options').append("<li>" + rule + "</li>")
                        })
                    }
                    if(resp.q3_rules){
                        $('#q-4-options').empty()
                        resp.q3_rules.forEach(function(rule){
                            $('#q-4-options').append("<li>" + rule + "</li>")
                        })
                    }
                    if(resp.q4_rules){
                        $('#q-5-options').empty()
                        resp.q4_rules.forEach(function(rule){
                            $('#q-5-options').append("<li>" + rule + "</li>")
                        })
                    }
                    if(resp.q5_rules){
                        $('#q-6-options').empty()
                        resp.q5_rules.forEach(function(rule){
                            $('#q-6-options').append("<li>" + rule + "</li>")
                        })
                    }
                },
                error: function(err){
                    console.log(err)
                }
            })
        }
        
        
    </script>
</body>
</html>